
.def_buttons {
      font-size: 0.6em;
      border:0.1em solid #2D5A5A;
      background-image: linear-gradient(to top, rgba(5, 5, 5, .9), rgba(74, 74, 74, .7));
      -moz-border-radius:0.2em;
      -webkit-border-radius:0.2em;
      border-radius:0.2em;
      text-align: center;
      display:inline-block !important;
      cursor:pointer;
      color:#C0C0C0;
      font-weight:bold;
      padding:1%;
      text-decoration:none;
      margin:1%;
      text-align: center;
      right:0%;
      width:16%;
      z-index:200;   
}
.links {
   width:30%;
   position:absolute;
   top:10px;
   right:10px;
   z-index: 9000;
}
.tooltip {
      visibility: hidden;
      width: 50%;
      background-color: black;
      color: #fff;
      text-align: center;
      padding: 1em 0;
      border-radius: 0.3em;
      position: absolute;
      opacity: 0.9;
      top:3em;
      left:25%;
      z-index: 1000;
      font-size:1em;
      text-decoration-style: none;
      text-shadow: none;
      font-weight: 400;
}
.def_buttons:hover {
      opacity:1;
      color:#ffffff;
}

#info_btn:hover #info_tooltip {
    visibility: visible;
}


#code_btn:hover #code_tooltip {
    visibility: visible;
}
