.amcharts-chart-div a {
  opacity:0 !important;
}
.export-main {
  opacity:0 !important;
}
 

#speedo {
  position:absolute;
  bottom: -100%;
  left:40%;
  width: 20%;
  height: 32%;
  border: 2px solid #2D5A5A;
  border-radius: 16px 16px 16px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  transition: top 3s ease-out 1s;
  /* background-image: linear-gradient(to top, rgba(5, 56, 56, .9), rgba(59, 104, 104, .9)); */
    background-image: linear-gradient(to top, rgba(1, 28, 22, .8), rgba(1, 24, 18, .8));
  z-index: 25;

}    
#kmdLogo {
  position:absolute;
  top:160%;
  transition: top 3s ease-out 1s;
  z-index: 25;
  opacity: 1;
  font-weight: 900;
  color: #82A1A1;
  text-shadow: 
  filter: 1px 1px 16px #111111;
}
#logoImg {
  filter: drop-shadow(1px 1px 16px #111111);
}
.amcharts-gauge-axis  {
  border:hidden;
  background: transparent;
}
.amcharts-axis-label {
  font-size: 0.5em !important;
}
.amcharts-export-menu {
  display: none;
}