#statsTableLeft {
	position:absolute;
	min-width: 150px;
	left:0%;
	height: 32%;
	width:16%;
	font-size: 0.5em;
	z-index:33;
	background-color: rgba(0,0,0,0.7);
  	border-radius: 0.7em 0px 0px 0.7em;
}
#statsTableLeft div {
  	display:block;
}

#barsLeft {
	position: absolute;
	top: 1em;
	display: block;
	width:90%; 
	left:5%;
}
#statsTableRight {
	z-index:33;
	position:absolute;
	right:0%;
	min-width: 150px;
	width:16%;
	font-size: 0.5em;
	background-color: rgba(0,0,0,0.7);
  	border-radius: 0px 0.7em 0.7em 0px;
}
#statsTableRight div {
  	display:block;
}
#barsRight {
	position: absolute;
	top: 1em;
	display: block;
	width:90%; 
	left:5%;
}
.statLabel {
	margin-top: 0.3em;
	padding-bottom: 0.2em;
	text-align:left;
	position: relative;
}
.statLabel span {
	margin:auto;
	font-size-adjust: 0.6;
}
.statBar {
	height: 1.1em;
	border-radius: 0.1em 0.1em 0.1em 0.1em;
	-webkit-border-radius: 0.1em 0.1em 0.1em 0.1em;
	position: relative;
	margin:0px !important;
}
.statBorder{
	height:1.1em;
	background: #52FAC7;
	border: solid #333 0.1em;
	opacity: 0.2; 
	z-index: 35;
	top:-1.1em;
	position: relative;
}
.statVal {
	font-weight: 900;
	font-size: 1.3em;
}
#ac_active_5minBar { /* yellow */
  background-image: linear-gradient(to bottom, #52FAC7, #52FAC7, #4A8282);
}
#blk_5minBar {  /* orange */
  background-image: linear-gradient(to bottom, #52FAC7, #52FAC7, #4A8282);
}
#block_per_chainBar {  /* orange */
  background-image: linear-gradient(to bottom, #52FAC7, #52FAC7, #4A8282);
}
#pt_per_txBar {  /* yellow */
  background-image: linear-gradient(to bottom, #52FAC7, #52FAC7, #4A8282);
}
#tx_5minBar { /* green */
  background-image: linear-gradient(to bottom, #52FAC7, #52FAC7, #4A8282);
}
#tx_per_blockBar {  /* blue */
  background-image: linear-gradient(to bottom, #52FAC7, #52FAC7, #4A8282);
}
#tx_per_chainBar {  /* blue */
  background-image: linear-gradient(to bottom, #52FAC7, #52FAC7, #4A8282);
}
#pt_5minBar {  /* blue */
  background-image: linear-gradient(to bottom, #52FAC7, #52FAC7, #4A8282);
}
#pt_per_blockBar {  /* blue */
  background-image: linear-gradient(to bottom, #52FAC7, #52FAC7, #4A8282);
}
#pt_per_chainBar {  /* blue */
  background-image: linear-gradient(to bottom, #52FAC7, #52FAC7, #4A8282);
}
#label_values {
	padding-top: 2em;
	padding-bottom: 1em;	
}
#label_title {
	padding-bottom: 1em;
}
.legendLabel {
	font-size: 1.2em;
}
.bubLbl {
	position: absolute;
	bottom:1em;
}
#lbl_1 {
	left: 15px;
}
#lbl_2 {
	left: 61px;
}
#lbl_3 {
	left: 1010px;
} 
#lbl_4 {
	left: 1510px;
}
#lbl_5 {
	left: 205px;
}