
.bubble {
	opacity: 0.75;	
}
#scalebarBubbles {
	display:inline;
	position: absolute;
	left:10px;
	top:15px;
	padding: 5px;
	padding-top: 5px;
	width: 300px;
	height:80px;
	opacity:0.8;
}
#bubbleLegend ul {
    list-style-type: none;
    position:absolute;
    left:0px;
    top: 20px;
    width:200px;
}
#bubbleLegend li {
	display: block;
  font-family: verdana;
  font-weight: 900;
  text-shadow: 2px 2px 5px #2D5A5A;
  color: #0c2c2d;
  text-align: center;
}
#bubbleLegend span {
	padding: 11px;
	font-size: 11px;
	font-weight: 400: 
}
#bubbleScalebar  {
    position:absolute;
    left:30px;
    top: 220px;
    width:200px;
}
#bubbleScalebar ul {
    list-style-type: none;
    position:absolute;
    left:0px;
    top: 0px;
    width:200px;
}
#bubbleScalebar li {
	display: block;
  font-family: verdana;
  font-weight: 900;
  text-shadow: 2px 2px 5px #2D5A5A;
  color: #0c2c2d;
  text-align: center;
}
#bubbleScalebar span {
	padding: 11px;
	font-size: 11px;
	font-weight: 400: 
}
.legendLabel {
}
#label_values {
	padding-top: 45px;
}
#label_title {
	font-size: 14px;
}
#label_50 {
	padding-top: 6px;
}
#label_100 {
	padding-top: 5px;
}
#label_200 {
	padding-top: 10px;
}
#label_300 {
	padding-top: 17px;
}
#label_400 {
	padding-top: 23px;
}
#label_500 {
	padding-top: 32px;
}
#label_600 {
	padding-top: 44px;
}
#bubbleText {
	position:absolute;
	font-size: 9px;
	color:#2D5A5A;
	color: rgba(255,255,255,0.6);
	text-shadow: 2px 8px 6px rgba(255,255,255,0.4),
                 0px -5px 35px rgba(0,0,0,0.6);
	left:-5px; 
	display:inline-block;
}