.statLabel { 
  position: absolute;
  font-family: verdana;
  color: #0c2c2d;
  font-weight: 400;
  text-shadow: 2px 2px 5px #2D5A5A;
  display:block;
  float:right;
  width: 90%;
  left:5%;
  margin:auto;
}

.statLabel span {
  margin:auto;
  font-size: 12px !important;
}

.statBorder { 
  margin:auto;
  height:13px;
  width:90%;
  position: absolute;
  display:block;
  border: solid #000000 1px;
  background: #FFF;
  opacity: 0.2; 
  overflow: visible;
  left: 5%;
  z-index: 60;
}

.statBar {
  margin:auto;
  height:13px;
  position: absolute;
  left: 5%;
  display:block;
  overflow: visible;
  width: 1px;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  z-index: 50;
}

#numApiConnLabel {
  top:15px;
}
#numApiConnBorder {
  top:30px;
}
#numApiConnBar {
  top:30px;
  background-image: linear-gradient(to bottom, #ffd65e, #CE9A01);
}

#numChainActiveLabel {
  top:49px;
}
#numChainActiveBorder {
  top:64px;
}
#numChainActiveBar {
  top:64px;
  background-image: linear-gradient(to bottom, #4ba614, #005900);
}

#numBlockSolvedLabel {
  top:83px;
}
#numBlockSolvedBorder {
  top:98px;
}
#numBlockSolvedBar {
  top:98px;
  background-image: linear-gradient(to bottom, #49c0f0, #1a92c2);
}

#blockPerChainLabel {
  top:117px;
}
#blockPerChainBorder {
  top:132px;  

}
#blockPerChainBar {
  top:132px;
  background-image: linear-gradient(to bottom, #B29AF8, #6d47e7);
}

#aveChainTXLabel {
  top:151px;
}
#aveChainTXBorder {
  top:164px;  

}
#aveChainTXBar {
  top:164px;
  background-image: linear-gradient(to bottom, #B29AF8, #6d47e7);
}

#aveChainPTLabel {
  top:185px;
}
#aveChainPTBorder {
  top:200px;  

}
#aveChainPTBar {
  top:200px;
  background-image: linear-gradient(to bottom, #B29AF8, #6d47e7);
}


#tx5minLabel {
  top:219px;
}
#tx5minBorder {
  top:234px;  

}
#tx5minBar {
  top:234px;
  background-image: linear-gradient(to bottom, #B29AF8, #6d47e7);
}

#pt5minLabel {
  top:253px;
}
#pt5minBorder {
  top:268px;  

}
#pt5minBar {
  top:268px;
  background-image: linear-gradient(to bottom, #B29AF8, #6d47e7);
}


#txPerBlockLabel {
  top:287px;
}
#txPerBlockBorder {
  top:302px;  

}
#txPerBlockBar {
  top:302px;
  background-image: linear-gradient(to bottom, #B29AF8, #6d47e7);
}

#ptPerBlockLabel {
  top:321px;
}
#ptPerBlockBorder {
  top:336px;  

}
#ptPerBlockBar {
  top:336px;
  background-image: linear-gradient(to bottom, #B29AF8, #6d47e7);
}



#ptPerTxLabel {
  top:355px;
}
#ptPerTxBorder {
  top:370px;
}
#ptPerTxBar {
  top:370px;
  background-image: linear-gradient(to bottom, #B29AF8, #6d47e7);
}

