.statLabel { 
  position: absolute;
  font-family: verdana;
  color: #DDD;
  font-weight: 900;
  text-shadow: 2px 2px 5px #2D5A5A;
  display:block;
  float:right;
  width: 90%;
  left:5%;
  margin:auto;
}
.statLabel span {
  margin:auto;
  font-size: 12px !important;
}
.statBorder { 
  margin:auto;
  height:15px;
  width:90%;
  position: absolute;
  display:block;
  border: solid #000000 1px;
  background: #FFF;
  opacity: 0.2; 
  overflow: visible;
  left: 5%;
  z-index: 60;
}
.statBar {
  margin:auto;
  height:15px;
  position: absolute;
  left: 5%;
  display:block;
  overflow: visible;
  width: 1px;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  z-index: 50;
}

#numApiConnLabel {
  top:20px;
}
#numApiConnBorder {
  top:35px;
}
#numApiConnBar {
  top:35px;
  background-image: linear-gradient(to bottom, #ffd65e, #CE9A01);
}

#numChainActiveLabel {
  top:55px;
}
#numChainActiveBorder {
  top:70px;
}
#numChainActiveBar {
  top:70px;
  background-image: linear-gradient(to bottom, #4ba614, #005900);
}

#numBlockSolvedLabel {
  top:90px;
}
#numBlockSolvedBorder {
  top:105px;
}
#numBlockSolvedBar {
  top:105px;
  background-image: linear-gradient(to bottom, #49c0f0, #1a92c2);
}

#blockPerChainLabel {
  top:125px;
}
#blockPerChainBorder {
  top:140px;  

}
#blockPerChainBar {
  top:140px;
  background-image: linear-gradient(to bottom, #B29AF8, #6d47e7);
}

#aveChainTXLabel {
  top:160px;
}
#aveChainTXBorder {
  top:175px;  

}
#aveChainTXBar {
  top:175px;
  background-image: linear-gradient(to bottom, #B29AF8, #6d47e7);
}

#aveChainPTLabel {
  top:195px;
}
#aveChainPTBorder {
  top:210px;  

}
#aveChainPTBar {
  top:210px;
  background-image: linear-gradient(to bottom, #B29AF8, #6d47e7);
}


#tx5minLabel {
  top:230px;
}
#tx5minBorder {
  top:245px;  

}
#tx5minBar {
  top:245px;
  background-image: linear-gradient(to bottom, #B29AF8, #6d47e7);
}

#pt5minLabel {
  top:265px;
}
#pt5minBorder {
  top:280px;  

}
#pt5minBar {
  top:280px;
  background-image: linear-gradient(to bottom, #B29AF8, #6d47e7);
}


#txPerBlockLabel {
  top:300px;
}
#txPerBlockBorder {
  top:315px;  

}
#txPerBlockBar {
  top:315px;
  background-image: linear-gradient(to bottom, #B29AF8, #6d47e7);
}

#ptPerBlockLabel {
  top:335px;
}
#ptPerBlockBorder {
  top:350px;  

}
#ptPerBlockBar {
  top:350px;
  background-image: linear-gradient(to bottom, #B29AF8, #6d47e7);
}

